name: CI

# Controls when the action will run.
# For GITHUB_TOKEN permissions, see the accompanying documentation.
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel.
jobs:
  # Test-job
  test:
    name: Run Tests & Lint
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: 'uv'

      - name: Install dependencies with uv
        run: |
          python -m pip install --upgrade pip
          uv pip install --system --frozen-lockfile

      - name: Lint with Ruff
        run: |
          uv pip install ruff
          ruff check .

      - name: Format with Ruff
        run: |
          uv pip install ruff
          ruff format .

      - name: Test with Pytest
        run: |
          uv pip install pytest
          pytest
